<button type="button" class="btn btn-outline-dark btn-block">Notenschlüssel festlegen</button>
<button type="button" class="btn btn-outline-dark btn-block">Fach löschen</button>
<button type="button" class="btn btn-outline-dark btn-block">Schüler auslosen</button>
<button type="button" class="btn btn-outline-dark btn-block">Noten eintragen</button>
<button type="button" class="btn btn-outline-dark btn-block">Schüler verschieben</button>
<button type="button" class="btn btn-outline-dark btn-block">Jahresabschluss</button>
