<div *ngIf="!class">
  <mat-spinner></mat-spinner>
</div>
<mat-card *ngIf="class">
  <a class="go-back-button" (click)="goBack()" mat-flat-button>« Zur
    Fach-Übersicht</a>
  <button mat-button class="save-button" color="primary" disabled *ngIf="!editedData"><mat-icon>done_outline</mat-icon> Notenschlüssel aktuell</button>
  <button mat-flat-button class="save-button" (click)="save()" [disabled]="overallValence>100||overallParticipationValance>100" color="primary" *ngIf="editedData"><mat-icon>save</mat-icon> Änderungen speichern</button>
  <mat-card-title [ngClass]="{'margin-top':isScreenSmall()}">Notenschlüssel</mat-card-title>
  <mat-card-content>
    <div class="semester-wrapper">
    <div class="semester">
      <h4>1. Semester</h4>
      <div class="fraction">
        <input type="number" #numerator [(ngModel)]="subject.first_semester_numerator" (change)="changeNumerator(numerator.value)">
        <hr>
        <input type="number" #denominator [(ngModel)]="subject.first_semester_denominator"  (change)="changeDenominator(denominator.value)">
      </div>
    </div>
    <div class="semester">
      <h4>2. Semester</h4>
      <div class="fraction">
        <p>{{subject.first_semester_numerator | secondSemesterNumerator:subject.first_semester_denominator}}</p>
        <hr>
        <p>{{subject.first_semester_denominator}}</p>
      </div>
    </div>
    </div>
    <app-assessment-types [subject]="subject"></app-assessment-types>
  </mat-card-content>
</mat-card>
