<div *ngIf="!class">
  <mat-spinner></mat-spinner>
</div>
<mat-card *ngIf="class">
  <a class="go-back-button" [routerLink]="['/class',class.id,'subject',subject.id]" mat-flat-button>« Zur
    Fach-Übersicht</a>
  <mat-card-title [ngClass]="{'margin-top':isScreenSmall()}">Notenschlüssel</mat-card-title>
  <mat-card-content>
    <div class="semester-wrapper">
    <div class="semester">
      <h4>1. Semester</h4>
      <div class="fraction">
        <input type="number" [ngModel]="subject.first_semester_numerator">
        <hr>
        <input type="number" [ngModel]="subject.first_semester_denominator">
      </div>
    </div>
    <div class="semester">
      <h4>2. Semester</h4>
      <div class="fraction">
        <p>{{subject.first_semester_numerator | secondSemesterNumerator:subject.first_semester_denominator}}</p>
        <hr>
        <p>{{subject.first_semester_denominator}}</p>
      </div>
    </div>
    </div>
  </mat-card-content>
</mat-card>
