.add-subject-button {
  margin-bottom: 10px;
  margin-left: 6px;
  width: 33px;
  height: 33px;
  line-height: 14px;
  font-size: 14px;
  vertical-align: center;
  margin-top: 9px;

  &::ng-deep .mat-button-wrapper {
    line-height: 14px;
    padding: 0;

    mat-icon {
      font-size: 14px;
      padding-top: 6px;
    }
  }
}

.flexbox{
  display: flex;
  flex-flow: row wrap;
  border-style: none;
  justify-content: left;
}

.toggle-group-responsive {
  width: fit-content;
  display: flex;
  flex-flow: row wrap;
  border-style: none;
  justify-content: left;

  .toggle-group-item {
    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 4px;
  }
}

mat-card-title{
  h1{
    margin-top: 10px;
  }
}
.student-list-item{
  margin-bottom: 4px;
  &:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}
.add-student-button{
  //display: block;
  horiz-align: center;
}

.class-options-icon{
  padding: 5px;
  width: fit-content;
  height: fit-content;
  float: right;
  display: block;
  mat-icon{
    font-size: 25pt;
    margin-bottom: 10px;
    margin-right: 10px;
  }
}

mat-card{
  margin-bottom: 5px;
}
.algin-content{
  display: flex;
  justify-content: left;
  flex-flow: row;
}
.class-name-card{
  width: 100%;
  height: 150px;
  display: flex;
  margin-right: 5px;
  justify-content: center;
  align-items: center;
}
.class-options-card{
  display: flex;
  justify-content: left;
  flex-flow: column;
  width: 80%;
  height: 150px;
}
.less-heigth{
  height: 100px;
}
.subject-menu-button{
  height: 100%;
  margin-bottom: 5px;
  background: white;
}
.no-bottom-margin{
  margin-bottom: 0;
}
.fab{
  position: sticky;
  float: right;
  right: 20px;
  bottom: 20px;
}
