<div *ngIf="!class">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="class">
  <mat-card>
    <button mat-button class="class-options-icon" [matMenuTriggerFor]="menu" dir="rtl">
      <mat-icon>more_horiz</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [mat-menu-trigger-for]="editMenu"><mat-icon>edit</mat-icon>Bearbeiten</button>
      <mat-menu #editMenu>
        <button mat-menu-item (click)="editClass()">Klasse bearbeiten</button>
        <button mat-menu-item (click)="editSubject()">Fach bearbeiten</button>
      </mat-menu>
      <button mat-menu-item [mat-menu-trigger-for]="deleteMenu">
        <mat-icon>delete</mat-icon>
        Löschen
      </button>
    </mat-menu>
    <mat-menu #deleteMenu>
      <button mat-menu-item (click)="deleteClass()">Klasse löschen</button>
      <button mat-menu-item (click)="deleteSubject()">Fach löschen</button>
      <button mat-menu-item (click)="deleteStudent()">Schüler löschen</button>
    </mat-menu>
    <mat-card-header>
      <mat-card-title>
        <h1>{{class.name}}</h1>
      </mat-card-title>
    </mat-card-header>
    <div class="flexbox">
      <mat-button-toggle-group class="toggle-group-responsive" name="fontStyle" [ngModel]="selectedSubject?.id"
                               aria-label="Font Style" *ngIf="subjects.length>0 && !isScreenSmall()"
                               (ngModelChange)="studentService.loadStudentsOfSubject(selectedSubject.id);">
        <mat-button-toggle class="toggle-group-item" *ngFor="let subject of subjects"
                           [routerLink]="['/class',class.id,'subject',subject.id]"
                           [value]="subject.id" (click)="selectedSubject=subject">
          {{subject?.name}}</mat-button-toggle>
      </mat-button-toggle-group>
      <button mat-fab color="accent" matTooltip="Fach hinzufügen" class="add-subject-button"
              (click)="openAddSubjectDialog()" *ngIf="!isScreenSmall()">
        <mat-icon aria-label="Fach hinzufügen">add</mat-icon>
      </button>
    </div>
    <mat-form-field *ngIf="isScreenSmall()">
      <mat-select placeholder="Fach" label="Fach" [ngModel]="selectedSubject?.id"
                  (ngModelChange)="studentService.loadStudentsOfSubject(selectedSubject.id);">
        <mat-option *ngFor="let subject of subjects"
                    [value]="subject.id"
                    (click)="selectedSubject=subject;"
                    [routerLink]="['/class',class.id,'subject',subject.id]">
          {{subject.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button *ngIf="isScreenSmall()" mat-fab color="accent" matTooltip="Fach hinzufügen" class="add-subject-button"
            (click)="openAddSubjectDialog()">
      <mat-icon aria-label="Fach hinzufügen">add</mat-icon>
    </button>
  </mat-card>
  <router-outlet></router-outlet>
</div>
