<mat-toolbar color="primary">

  <button mat-button class="sidenav-toggle" (click)="toggleSidenav.emit()">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="title-span">TeacherTool</span>

  <span class="spacer"></span>
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon class="icon">more_vert</mat-icon>
  </button>
  <mat-menu  #menu="matMenu">
    <button mat-menu-item [routerLink]="['/complete']"><mat-icon>done_outline</mat-icon>Jahresabschluss</button>
    <button mat-menu-item><mat-icon>archive</mat-icon>Archiv</button>
    <!--<div mat-menu-item class="no-hover-effect" (click)="$event.stopPropagation();" disableRipple >-->
    <!--<mat-slide-toggle labelPosition="before" color="accent" [checked]="darkTheme_enabled | async" (change)="toggleTheme()">Dark Theme</mat-slide-toggle>-->
    <!--</div>-->
  </mat-menu>
</mat-toolbar>
