$iconWidth:56px;

.spacer{
  flex: 1 1 auto;
}

.no-hover-effect
{
  background-color: transparent;
  cursor: default;
}

mat-toolbar{
  padding-right: 0;
}

.icon{
  padding: 0;
  min-width: $iconWidth;
  font-size: 30px;
  height: $iconWidth;
  width: $iconWidth;
  line-height: $iconWidth;
  color: white;
}
.sidenav-toggle{
  display: none;

  padding: 0;
  margin: 8px;
  min-width: $iconWidth;

  @media (max-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  mat-icon{
    font-size: 30px;
    height: $iconWidth;
    width: $iconWidth;
    line-height: $iconWidth;
    color: white;
  }
}

.title-span{
  font-size: 25pt;
}
