mat-card{
  height: 35px;
  margin-bottom: 5px;
  line-height: 35px;
}
i{
  float: right;
  cursor: pointer;
  font-size: 25px;
  vertical-align: center;
  margin-top: 5px;
}
.input-participation-valance{
  float: right;
  width: 50px;
  margin-right: 20px;
}
