<h2>Bewertungsarten</h2>
<app-assessment-type *ngFor="let assessment of assessments_normal |async" [assessment]="assessment"></app-assessment-type>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header [collapsedHeight]="'57px'" class="right-aligned-header">
      <mat-panel-title>
        Mitarbeit
      </mat-panel-title>
      <mat-panel-description>
        <mat-form-field class="input-participation-valance">
          <input matInput type="number" placeholder="Wert" [(ngModel)]="participation_valance" (ngModelChange)="dataEdited()">
        </mat-form-field>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-assessment-type *ngFor="let assessment of assessments_participation |async" [assessment]="assessment"></app-assessment-type>
  </mat-expansion-panel>
</mat-accordion>
<button mat-button class="add-student-button" color="accent" (click)="openAddAssessmentDialog()">
  <mat-icon>add</mat-icon>
  Bewertungsart
</button>
