mat-expansion-panel-header{
  margin-bottom: 5px;
  height: 52px;
  padding-left: 16px;
}
mat-expansion-panel {
  width: 100%;
}
.input-participation-valance{
  float: right;
  width: 50px;
  margin-right: 14px;
  margin-top: 16px;
  color: black;
}
mat-panel-title{
  margin-top: 22px;
  height: 35px;
  line-height: 35px;
  text-align: center;
}
