<div class="algin-content" *ngIf="selectedSubject">
  <mat-card class="class-name-card" [ngClass]="{'less-heigth':isScreenSmall()}">
    <h1>{{selectedSubject?.name}}</h1>
  </mat-card>
  <div class="class-options-card" *ngIf="!isScreenSmall()">
    <button mat-raised-button color="primary" class="subject-menu-button mat-elevation-z1" [disabled]="!selectedSubject" [routerLink]="['/class',class.id,'subject',selectedSubject.id,'grading']">Notenschlüssel festlegen</button>
    <button mat-raised-button color="primary" class="subject-menu-button mat-elevation-z1" [disabled]="students.length<2" [routerLink]="['/class',class.id,'subject',selectedSubject.id,'random']">Schüler auslosen</button>
    <button mat-raised-button color="primary" class="subject-menu-button mat-elevation-z1 no-bottom-margin" [routerLink]="['/class',class.id,'subject',selectedSubject.id,'mark']">Noten eintragen</button>
  </div>
</div>
<mat-card *ngIf="selectedSubject">
  <h3>Schüler</h3>
  <mat-action-list>
    <button mat-list-item class="student-list-item" [routerLink]="['student',student.id]" [ngClass]="{'grade-color': student.grade>4.49}"  *ngFor="let student of students">
      <span>{{student.firstname+" "+ student.lastname}}</span>
      <div style="flex-grow: 1"></div><span  style="font-size: 20px">{{student.grade}}</span></button>
  </mat-action-list>
  <button mat-button class="add-student-button" color="accent" (click)="openAddStudentDialog()">
    <mat-icon>add</mat-icon>
    Schüler
  </button>
</mat-card>
<eco-fab-speed-dial class="fab" *ngIf="isScreenSmall()&&selectedSubject" animationMode="scale">
  <eco-fab-speed-dial-trigger>
    <button mat-fab color="primary" matTooltip="Menü"><mat-icon>menu</mat-icon></button>
  </eco-fab-speed-dial-trigger>

  <eco-fab-speed-dial-actions>
    <button mat-mini-fab color="primary" matTooltip="Noten eintragen" [routerLink]="['/class',class.id,'subject',selectedSubject.id,'mark']"><mat-icon>edit</mat-icon></button>
    <button mat-mini-fab color="primary" matTooltip="Schüler auslosen" [disabled]="students.length<2" [routerLink]="['/class',class.id,'subject',selectedSubject.id,'random']"><mat-icon>not_listed_location</mat-icon></button>
    <button mat-mini-fab color="primary" matTooltip="Notenschlüssel festlegen" [routerLink]="['/class',class.id,'subject',selectedSubject.id,'grading']"><mat-icon>settings</mat-icon></button>
  </eco-fab-speed-dial-actions>
</eco-fab-speed-dial>
